@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layoutdish.cshtml";
}
@section tabs{
    <div class="menu-row">
            	<div class="menu-border">
                	<div class="main">
                        <nav>
                            <ul class="menu">
                                <li><a class="active" href="/Home/index">Main</a></li>
                                
                                <li><a href="/Customer/calendar">Dish to Order</a></li>
                                
                               <li><a href="/Account/login">login</a></li>
                                <li><a href="/Account/signup">Sign Up</a></li>
                                <li class="last"><a href="/Home/contacts">Contacts</a></li>
                                <li><a href="/Home/about">About Us</a></li>
                              
                            </ul>
                            
                        </nav>
                    </div>
                </div>
            </div>
}

                        	<article class="col-1">
                                <div class="indent-left">
                                    <h3>A Few Words About Us</h3>
                                    <h6>Best Home Made food of all the Regions around the world. </h6>
                                    <p>We basically provie the food of all the cultures and regions around the world and these foods has simple spices of everyday use but it tastes more like the tase of Mother's hand.</p>
                                    <div class="wrapper p3">
                                        <figure class="img-indent"><img src="~/images/page2-img1.jpg" alt="" /></figure>
                                        <div class="extra-wrap">
                                            <h6>Regions:</h6>
                                            <p class="p1">Pakistani Food</p>
                                            <p class="p1">Indian Food</p>
                                            <p class="p1">Thai Food</p>
                                            <p class="p1">Italian Food</p>
                                            <p class="p1">Continental Food</p>
                                            <p class="p1">Chinese Food</p>
                      
                                        </div>

                                    </div>
                                </div>
                                <div class="bg">
                                    <div class="padding">
                                        <h3>Information about the Developer</h3>
                                        <h6>Batch: BSIT (Afternoon) 2011-2015</h6>
                                        <div class="wrapper">
                                            <p class="p1">Rollnumber: BITF11A035</p>
                                            <p class="p1">Name: Samawia Moin</p>
                                            </div>
                                    </div>
                                </div>
                            </article>
