@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layoutindex.cshtml";
} 
@section tabs{
    <div class="menu-row">
            	<div class="menu-border">
                	<div class="main">
                        <nav>
                            <ul class="menu">
                                <li><a class="active" href="/Home/index">Main</a></li>
                                
                                <li><a href="/Customer/calendar">Dish to Order</a></li>
                                
                               <li><a href="/Account/login">login</a></li>
                                <li><a href="/Account/signup">Sign Up</a></li>
                                <li class="last"><a href="/Home/contacts">Contacts</a></li>
                                <li><a href="/Home/about">About Us</a></li>
                              
                            </ul>
                            
                        </nav>
                    </div>
                </div>
            </div>
}

                    <div class="slider">
                        <ul class="items">
                            <li>
                                <img src="/Images/slider-img1.jpg" alt="" />
                                <div class="banner">
                                    <strong class="title">
                                        <strong>Delicious</strong><em>Food</em>
                                    </strong>
                                    <p class="p3">We provide best home made food, which reminds you the taste of your home.</p>
                                    
                                </div>
                            </li>
                            <li>
                                <img src="/Images/slider-img2.jpg" alt="" />
                                <div class="banner">
                                    <strong class="title">
                                        <strong>Delicious</strong><em>Food</em>
                                    </strong>
                                    <p>First ever home made food online services in Pakistan.</p>
                                    
                                </div>
                            </li>
                            <li>
                                <img src="/Images/slider-img3.jpg" alt="" />
                                <div class="banner">
                                    <strong class="title">
                                        <strong>Delicious</strong><em>Food</em>
                                    </strong>
                                    <p>Enjoy the Best Taste.</p>
                                </div>
                            </li>
                        </ul>
                        <a class="banner-2" href="#"></a>
                    </div>
                    <ul class="pags">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                    <div class="bg">
                        <div class="padding">
                            <div class="wrapper">
                                <article class="col-1">
                                    <h3>Weight Loss Ideas</h3>
                                    <p>1. Take a walk ,at least two hours every week.</p>
                                    <p>2. Eat healthy food and drink more water.</p>
                                    <p>3. Dont take tension of anything, its a best tip!</p>
                                    
                                </article>
                                <article class="col-1">
                                    <h3>Fast Food. Yes or No?</h3>
                                    <p>Obviously No! Good Food makes you stronger, healthier and smarter.</p>
                                    
                                </article>
                                <article class="col-2">
                                    <h3>GoodFood</h3>
                                    <p>Good Food offers a taste of magnificence.It is like heaven on a fork</p>
                                    
                                </article>
                            </div>
                        </div>
                    </div>
          