@{
    ViewBag.Title = "viewcustomerorders";
    Layout = "~/Views/Shared/_Layoutdish.cshtml";
}

@section tabs{
    <div class="menu-row">
            	<div class="menu-border">
                	<div class="main">
                        <nav>
                            <ul class="menu">
                                <li><a class="active" href="/Home/index">Main</a></li>
                                
                                <li><a href="/Customer/calendar">Dishes To Order</a></li>
                                
                                <li><a href="/Account/logout">  Log Out</a></li>
                                <li class="last"><a href="/Home/contacts">Contacts</a></li>
                                <li><a href="/Home/about">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
}
<h1>Cart</h1>
 <div id="content" class="float_r">
        	<table width="680px" cellspacing="0" cellpadding="5">
                   	  <tr bgcolor="#ddd">
                        	<th width="180" align="left">Order ID </th> 
                       	  	<th width="100" align="center">Date </th> 
                             <th width="100" align="center">Amount </th> 
                        	<th width="90"> </th>

                            
                      </tr>
            
              @foreach(var x in ViewBag.X)
              {
                    	<tr> 
                            <td align="center">@x.orderdetailId </td>
                            <td align="right">Rs. @x.dateoforder </td>
                            <td align="right">Rs. @x.Amount </td> 
                            </tr>
              }
               
                </table>
                    <div style="float:right; width: 215px; margin-top: 20px;">
					<p><a href="/Cart/checkout">Proceed to checkout</a></p>
                    	
                    </div>
			</div>
